<%if message.user.id == current_user.id%>
    <li class="in">
        <!-- user photo -->
        <div class="chat-img">
         <% if current_user.image.attached?%>
            <%= image_tag(current_user.image.variant(resize:"48x48")) %>
        <% else %>
            <%= image_tag("default_avatar.png", size: '48x48')%> 
        <% end %>
        </div>   
        <div class="chat-body">
        	<div class="chat-message">
        		<h5><%= message.user.name %></h5>
        		<p><%= message.body %></p>
        	</div>
        </div>
    </li>
<%else%>
    <li class="out">
        <div class="chat-body">
        	<div class="chat-message">
        		<h5><%= message.user.name %></h5>
        		<p><%= message.body %></p>
        	</div>
        </div>
    </li>
 <%end%>  



