<br>
<%= render 'form'%>
<br>
<p>total results: <%= @count%></p>
<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
        <th>Name</th>
        <th>Min Price</th>
        <th>Max Price</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Pet Preference</th>
    </tr>
  </thead>

  <tbody>
        <%  @preferences.each do |p| %>
        <tr>
            <td><%= p.user.name %></td>
            <td><%= p.min_price %></td>
            <td><%= p.max_price %></td>
            <td><%= p.start_date %></td>
            <td><%= p.end_date %></td>
            <td><%= p.pet %></td>
        </tr>
    <% end %> 
  </tbody>
</table>