<div class="row align-items-center">
    <div class="col align-self-start"></div>
    
    <div class="col-md-8 align-self-center">
    <%= form_for @user, local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="form-group">
        <span class="fa fa-user-circle errspan"></span>
        <%= f.text_field :name, class: "form-control", placeholder: "User Name" %>
      </div>

      <div class="form-group">
        <span class="fa fa-envelope errspan"></span>
        <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
      </div>

      <div class="form-group">
        <span class="fa fa-unlock-alt errspan"></span>
        <%= f.password_field :password, class: "form-control", placeholder: "Password: Upper&Lower, Number, Total Length 8-15" %>
      </div>

      <div class="form-group">
        <span class="fa fa-unlock-alt errspan"></span>
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
      </div>

      <div class="form-group">
        <%= f.select :gender, [ 'Male', 'Female', 'Prefer not to answer' ], {:prompt => 'Select Gender'},{:class => 'form-control'} %>
      </div>
      <%# if logged in display avatar uploading %>
      <% if logged_in? %>
        <div class="form-group">
          <%= f.label "Profile Photo" %>
          <%= f.file_field :image, accept: "image/jpeg, image/png" %> <br>
        </div>
      <%end%>
     
      <%= f.submit yield(:button_text), class: "btn btn-dark btn-block" %>
     
    <% end %>
   </div>

   <div class="col align-self-end"></div>
</div>