<div class="row">
  <div class='col-sm-5'>
    <%= form_for @user, url: users_path, method: :post, local: true do |f| %>
      <div class="form-group">
        <ul class="list-unstyled">
          <% @user.errors.full_messages.each do |msg| %>
            <li class="text-danger"> <%= msg %></li>
          <% end %>
        </ul>
      </div>

      <div class="form-group">
        <%= f.text_field :name, class: "form-control", placeholder: "User Name" %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %>
      </div>

      <div class="form-group">
        <%= f.select :gender, [ 'Male', 'Female', 'Prefer not to answer' ], :prompt => 'Select Gender'%>
      </div>

      <%= f.submit "Sign Up", class: "btn btn-dark" %>
      <!--<%= link_to "Sign In", new_session_path %>-->

    <% end %>
  </div>
</div>




  

