<!-- Section 2 -->
<div class="section-2-container section-container section-container-gray-bg">
    <div class="container">
        <div class="row">
            <div class="col section-2 section-description wow fadeIn">
                
                <h2>Find Your Roommates In...</h2>
                
            </div>
        </div>

        <div class="col section-2-box wow fadeInLeft">
            <section class="customer-logos slider">
                <div class="slide">
                    <%# <img src="assets/img/nyc.jpg"> %>
                    <%=image_tag("nyc.jpg")%>
                    <p class="text-center">New York</p>
                </div>
                <div class="slide">
                    <%# <img src="assets/img/san_jose.jpg"> %>
                    <%=image_tag("san_jose.jpg")%>
                    <p class="text-center">San Jose</p>
                </div>
                <div class="slide">
                    <%# <img src="assets/img/huston.jpg"> %>
                    <%=image_tag("huston.jpg")%>
                    <p class="text-center">Houston</p>
                </div>
                <div class="slide">
                    <%# <img src="assets/img/boston.jpg"> %>
                    <%=image_tag("boston.jpg")%>
                    <p class="text-center">Boston</p>
                </div>
                <div class="slide">
                    <%# <img src="assets/img/phonix.jpg"> %>
                    <%=image_tag("phonix.jpg")%>
                    <p class="text-center">Phenix</p>
                </div>
                <div class="slide">
                    <%# <img src="assets/img/phila.jpg"> %>
                    <%=image_tag("phila.jpg")%>
                    <p class="text-center">Philadelphia</p>
                </div>
                <div class="slide">
                    <%# <img src="assets/img/la.jpg"> %>
                    <%=image_tag("la.jpg")%>
                    <p class="text-center">Los Angeles</p>
                </div>
                <div class="slide">
                    <%# <img src="assets/img/chicago.jpg"> %>
                    <%=image_tag("chicago.jpg")%>
                    <p class="text-center">Chicago</p>
                </div>
                <div class="slide">
                    <%# <img src="assets/img/salt_lake.png"> %>
                    <%=image_tag("salt_lake.png")%>
                    <p class="text-center">Salt Lake City</p>
                </div>
                
            </section>
        </div>
        
    
        
    </div>
</div>