<p id="notice"><%= notice %></p>

<h1>Preference</h1>

<table>
  <thead>
    <tr>
      <th>location</th>
      <th>start</th>
      <th>end</th>
      <th>user id</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @preferences.each do |con| %>
      <tr>
        <td><%= con.location %></td>
        <td><%= con.start %></td>
        <td><%= con.end %></td>
        <td><%= con.userid %></td>
      </tr>
    <% end %>
  </tbody>
</table>
