<div class="row mt-3">
    <div class="col">
    <h3 class="show-title">Personal Information</h3>
    <%= fa_icon("address-card")%> Name:<%=  @preference.user.name%><br>
    <%= fa_icon("venus-mars")%>Gender: <%= @preference.user.gender%></span><br>
    <%= fa_icon("envelope")%> Email: <%= @preference.user.email%></span><br>
    
    <%# Display user profile picture upload, need to be refactored!  %>
    <% if @preference.user.image.attached?%>
        <%= image_tag(@preference.user.image.variant(resize:"200x200")) %>
    <% else %>
        
        <%= image_tag("default_avatar.png", size: '200x200')%> 
    <% end %>
    </div>

    <div class="col">
    <h3 class="show-title">Room Preferences</h3>
    <p class="info">State: <%= State.find(@preference.state_id).name%></p>
    <p class="info">City: <%= City.find(@preference.city_id).name%></p>
    <p class="info">Location: <%= @preference.location%></p>
    <p class="info">Price: $<%= @preference.min_price%> - $<%= @preference.max_price%></p>
    <p class="info">Date: <%= @preference.start_date%> - <%= @preference.end_date%></p>
    <p class="info">Pet preference: <%= @preference.pet%></p>
    <div>
    <%= link_to "Let's chat!", channels_path ,class:"btn btn-dark" %>
</div>