<nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg">
	<div class="container">
		<div class="logo">
			<a href="/">
				<%= image_tag("our_logo.png", alt: "logo")%>
			</a>
		</div>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<% if request.original_url == root_url %>
				<li class="nav-item">
					<a class="nav-link scroll-link" href="#section-1">Features</a>
				</li>
				<li class="nav-item">
					<a class="nav-link scroll-link" href="#section-2">Locations</a>
				</li>
				<li class="nav-item">
					<a class="nav-link scroll-link" href="#section-3">Testimonials</a>
				</li>
				<%end%>
				
				<% if logged_in? and admin_user?%>
					<li class= "nav-item">
						<button class="round-shape btn  button-lock nav-link"><%= link_to 'Search', search_path, method: :get %></button>
					</li>
					<li class= "nav-item">
						<button class="round-shape btn  button-lock nav-link"><%= link_to 'Data', underoofadmin_path, method: :get %></button>
					</li>
					<li class= "nav-item">
						<button class="round-shape btn  button-lock nav-link"><%= link_to 'Log out', logout_path, method: :delete %></button>
					</li>	
				<% elsif logged_in? and !admin_user?%>
					<li class= "nav-item">
						<button class="round-shape btn  button-lock nav-link"><%= link_to 'Search', search_path, method: :get %></button>
					</li>
					<li class= "nav-item">
						<button class="round-shape btn  button-lock nav-link"><%= link_to 'Profile', edit_user_path(current_user) %></button>
					</li>
					<li class= "nav-item">
						<button class="round-shape btn  button-lock nav-link"><%= link_to 'Chat', channels_path %></button>
					</li>	
					<li class= "nav-item">
						<button class="round-shape btn  button-lock nav-link"><%= link_to 'Log out', logout_path, method: :delete %></button>
					</li>
				<% else %>
					<li class= "nav-item">
						<button class="round-shape btn  button-lock nav-link"><%= link_to 'Sign Up', signup_path%></button>
					</li>
					<li class= "nav-item">  
						<button class="round-shape btn  button-lock nav-link"><%= link_to 'Sign In', signin_path%></button>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>