<header class="navbar navbar-fixed-top navbar-inverse">
  <nav>
      <div class="container">
        <div class="collapse navbar-collapse nav-submenu-color collapse" id="bs-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right custom">
            <li><%= link_to "Home",   '/' %></li>
            <li><%= link_to "Users",   '/users' %></li>
            <!--<li><%= link_to "Conditions",   '/conditions' %></li>-->
            <!-- <li><%= link_to "Preferences", '/preferences' %></li>-->
            <% if session[:user_id] %>
              <li><%= link_to "id: #{session[:user_id]}, logout", new_session_path, method: 'delete'%></li>
            <% else %>
              <li><%= link_to "Sign in", new_session_path %></li>
            <%end%>
            
          </ul>
        </div>
      </div>
  </nav>
</header>